.auth
	position: absolute;
	right 10px
	top 10px
	max-width 300px
	border 5px solid rgba(175,47,47,0.15)
	display: flex
	padding 10px
	flex-flow row wrap
	justify-content center
	align-items center
	.user-info
		display: flex
		flex-flow row wrap
		justify-content space-between
		padding 10px 0
		align-items center
	.user-name
		color #4d4d4d
		margin 0
		width calc(100% - 60px)
		align-self center
		padding 0 5px
		span
			display: block
	img
		width 50px
		height 50px
		border-radius 50%
		margin 0 auto
	button
		width 100%
		text-align center
		border 1px solid #eee
		padding 5px
		margin-top 10px
		background rgba(175,47,47,0.15)
		color white
		cursor pointer
		&:first-of-type
			margin-top 0
nav
	padding 20px 0
	font-size: 20px
	span
	a
		display: inline-block
		cursor pointer
		text-decoration none
		margin 0 5px
		color black
		padding 5px 10px
		&.active
			border 1px solid rgba(175, 47, 47, .2)

.overlay
	width: 100vw
	height: 100vh
	z-index 999
	position fixed
	top 0
	left 0
	background rgba(255, 255, 255, .6)
.loading
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -60px 0 0 -60px;
	background: #fff;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 10px solid #3e3f3a;
	&:after
		content: '';
		background: transparent;
		width: 140%;
		height: 140%;
		position: absolute;
		border-radius: 100%;
		top: -20%;
		left: -20%;
		opacity: 0.7;
		box-shadow: rgba(62, 63, 58, 0.6) -4px -5px 3px -3px;
		animation: rotate 2s infinite linear;
		
@keyframes rotate
	0%
		transform: rotateZ(0deg);
	100%
		transform: rotateZ(360deg);
	
