<section class="todoapp">
	<h1>todos</h1>

	<div *ngIf="authService.user | async; then authenticated else loggedOut "></div>


	<nav>
		<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Local Storage</a>
		<a routerLink="/firebase" routerLinkActive="active" *ngIf="authService.user | async;">Firebase</a>
	</nav>

	<!--loading animation -->
	<div class="overlay" *ngIf="loading">
		<div class="loading"></div>
	</div>

	<router-outlet></router-outlet>

	<ng-template #authenticated>
		<div class="auth" *ngIf="authService.user | async as user">
			<div class="user-info">
				<img [src]="user.photoURL">
				<div class="user-name">
					<span>{{ user.displayName }}</span>
					<span>{{ user.email }}</span>
				</div>
			</div>
			<button (click)="authService.signOut()">Logout</button>
		</div>
	</ng-template>

	<ng-template #loggedOut>
		<div class="auth">
			<button (click)="authService.googleLogin()">Connect Google</button>
		</div>
	</ng-template>




</section>


<footer-section></footer-section>
